<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | My Personal Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <h2>{{ post.title }}</h2>

    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small>

    <p>{{ post.body|linebreaks }}</p>

    <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <div>
            <p>On {{ comment.created_on.date }}, <strong>{{ comment.author }}</strong> wrote:</p>
            <p>{{ comment.body|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</body>
</html>
